html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #eee;
}

a {
    color: #ddd;
}

body {
    margin: auto;
    width: 40%;
}

@media only screen and (max-width: 767px) {
    body {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 99%;
    }
}